body{
    margin: 0 auto;
    height: auto; 
    width: 70%;
    background-image: url("img/Background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.Header{
    padding: 2px;
    border-bottom: 2px solid;
}
.Header p{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.Navigasi {
    height: 50px;
    border-bottom: 2px solid;
}
.Navigasi a {
    margin: 11px 10px 0px 10px;
    float: right;
    color:black;
    text-decoration:none;
    font-weight: bold;
    font-size: 20px;
}
.Navigasi a.right {
    float: right;
}
.Navigasi a:hover {
    /* background-color: white; */
    color: aqua;
}
.Container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}
.Container h2{
    padding: 2px;
    text-align: center;
}
.conten{
    float: left;
    width: 81%;
    text-align: center;
    margin: auto;
    padding: auto;
}
.conten p{
    padding: auto;
    font-size: 16px; 
    float: left; 
    overflow-wrap: break-word;
    text-align: justify;
}
img.sosmed{
    float: left;
    height: 50px;
    width: auto;
    border-radius: 30%;
    margin: 4px;
}

img{
    height: 200px;
    width: auto;
    padding:10px;
    border-radius: 30%;
    float: left;
    margin: auto;
}

.Contact{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 81%;
}
.Contact h2{
    padding: 2px;
    text-align: center;
}
.text{
    float: left;
    text-align: left;
    width: 100%;
    padding: 10px auto;
    margin: 10px;
    overflow-wrap: break-word;
}

.text tr td{
    border-bottom: 1px solid;
}
.Footer{
    text-align: center;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 30px;
    clear: both;
    border-top: 2px solid;
    font-size: 12px;
    font-weight: bold;
}   
