body{
    margin: 0 auto;
    /* border: 1px solid; */
    height: auto; 
    width: 60%;
}
.Header{
    background: chartreuse;
    padding: 2px;
    border-bottom: 1px solid;
}
.Header p{
    /* padding: 20px; */
    text-align: center;
    font-size: 12px;
    font-style: bold;
}
.Navigasi {
    background: yellow;
    height: 50px;
    border: 1px solid;
}
.Navigasi a {
    margin: 11px 10px 0px 10px;
    float: right;
}
.Navigasi a.right {
    float: right;
}
.Navigasi a:hover {
    background-color: white;
    color: aqua;
}
.Container{
    /* height: 450px; */
    border: 1px solid;
    background: cyan;
    margin: auto;
    overflow: auto;
}
.Container h2{
    padding: 2px;
    text-align: center;
}
/* .foto{
    height: 200px;
    float: left;
    padding: 10px auto;
    margin: 0 0 10px 5px;
    border: 1px solid;
    border-radius: 30%;
} */
img{
    height: 200px;
    width: auto;
    padding:10px;
    border-radius: 30%;
    float: left;
}
.text{
    float: left;
    width: 75%;
    padding: 10px auto;
    margin: 10px;
    border: 1px solid;
    background: pink;
    overflow-wrap: break-word;
}
.text tr td{
    
}
.Footer{
    margin: auto;
    text-align: center;
    height: 50px;
    padding: 10px 20px;
    clear: both;
    border: 1px solid;
    background: burlywood;
}   