html{
    margin: 0;
    padding: 0;
 }
 
 .halaman{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
 }
 
 .bagian{
    width: 100%;
 }

body{
    margin: 0 auto;
    height: auto; 
    width: 90%;
    background-image: url("img/Background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.Header{
    padding: 2px;
    border-bottom: 2px solid;
}
.Header p{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.Navigasi {
    height: 50px;
    border-bottom: 2px solid;
    padding-right: 3%;
    line-height: 25px;
}
.Navigasi a {
    margin: 11px 10px 0px 10px;
    float: right;
    color:black;
    text-decoration:none;
    font-weight: bold;
    font-size: 16px;
}
.Navigasi a.right {
    float: right;
}
.Navigasi a:hover {
    color: aqua;
    cursor: pointer;
}
.Container{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}
.Container h2{
    padding: 2px;
    text-align: center;
    font-size: 3vw;
}
.foto{
    width: 20%;
    padding: auto;
}
.foto img{
    height: auto;
    width: 100%;
    padding: 10px;
    border-radius: 30%;
    float: left;
    margin: auto;
}
.conten{
    float: left;
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 0 5px;
}
.conten p{
    padding: auto;
    font-size: 16px; 
    float: left; 
    overflow-wrap: break-word;
    text-align: justify;
}
img.sosmed{
    float: left;
    height: 50px;
    width: auto;
    border-radius: 30%;
    margin: 4px;
    cursor: pointer;
}
.Contact{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 81%;
}
.Contact h2{
    padding: 2px;
    text-align: center;
}
.text{
    float: left;
    text-align: left;
    width: 100%;
    padding: 10px auto;
    margin: 10px;
    overflow-wrap: break-word;
}

.text tr td{
    border-bottom: 1px solid;
}
.Footer{
    text-align: center;
    height: 50px;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    clear: both;
    border-top: 2px solid;
    font-size: 12px;
    font-weight: bold;
}
/*full screen desktop*/
@media screen and (max-width:3840px){
    .Container{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
    .foto{
        width: 15%;
    }
    .conten{
        width:80%;
    }
}

/*untuk layar device berukuran besar*/
@media screen and (max-width: 1000px) {
    body{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .bagian {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .Container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
    .foto{
        width: 100%;
        border-radius: 30%;
    }
    .foto img{
        width: 20%;
        border-radius: 47%; 
        padding-left: 50%;
        padding-right: 50%;
        margin-left: -10%;
        margin-right: -10%; 
    }
    .conten{
        width: 100%;
        margin: 0;
        padding: 0; 
    }
    .text{
        width: 90%;
        padding: 0 5%;
    }
    .conten p{
        width: 90%;
        padding: 0 5%;
    }
 }
